/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  
  /*========== Font and typography ==========*/
  --body-font: var(--font-poppins, 'Poppins'), sans-serif;
  --h1-font-size: 1.75rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
  
  /*========== Font weight ==========*/
  --font-medium: 500;
}

/*=============== LOGIN ===============*/
.login {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.loginImg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.loginForm {
  position: relative;
  background-color: hsla(0, 0%, 10%, 0.1);
  border: 2px solid var(--white-color);
  margin-inline: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  z-index: 1;
}

.loginTitle {
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 2rem;
  color: var(--white-color);
  font-family: var(--body-font);
}

.loginContent,
.loginBox {
  display: grid;
}

.loginContent {
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}

.loginBox {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid var(--white-color);
}

.loginIcon,
.loginEye {
  font-size: 1.25rem;
  color: var(--white-color);
}

.loginInput {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  color: var(--white-color);
  position: relative;
  z-index: 1;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
}

.loginBoxInput {
  position: relative;
}

.loginLabel {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: var(--font-medium);
  transition: top 0.3s, font-size 0.3s;
  color: var(--white-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  pointer-events: none;
}

.loginEye {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}

.loginBox:nth-child(2) .loginInput {
  padding-right: 1.8rem;
}

.loginCheck,
.loginCheckGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loginCheck {
  margin-bottom: 1.5rem;
}

.loginCheckLabel,
.loginForgot,
.loginRegister {
  font-size: var(--small-font-size);
  font-family: var(--body-font);
}

.loginCheckGroup {
  column-gap: 0.5rem;
}

.loginCheckInput {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.loginCheckLabel {
  color: var(--white-color);
  cursor: pointer;
}

.loginForgot {
  color: var(--white-color);
}

.loginForgot:hover {
  text-decoration: underline;
}

.loginButton {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--white-color);
  font-weight: var(--font-medium);
  cursor: pointer;
  margin-bottom: 2rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--black-color);
  border: none;
  transition: opacity 0.3s;
}

.loginButton:hover {
  opacity: 0.9;
}

.loginRegister {
  text-align: center;
  color: var(--white-color);
}

.loginRegister a {
  color: var(--white-color);
  font-weight: var(--font-medium);
}

.loginRegister a:hover {
  text-decoration: underline;
}

/* Input focus move up label */
.loginInput:focus + .loginLabel {
  top: -12px;
  font-size: var(--small-font-size);
}

/* Input focus sticky top label */
.loginInput:not(:placeholder-shown).loginInput:not(:focus) + .loginLabel {
  top: -12px;
  font-size: var(--small-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }
  
  .loginForm {
    width: 432px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }
  
  .loginTitle {
    font-size: 2rem;
  }
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  .loginForm {
    background-color: hsla(0, 0%, 10%, 0.3);
  }
}
